@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

@font-face {
	font-family: "Header";
	src: url("assets/Raleway-Bold.ttf");
}

@font-face {
	font-family: "Subheader";
	src: url("assets/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Paragraph";
    src: url('assets/Raleway-Light.ttf')
}

html{
	width: 8.5in;
	height: 11in;
}

body{
	margin: 5%;
}

h1{
	font-family: "Header";
	font-size: 26px;
	margin: 0;
	padding: 0;
}

h2{
	font-family: "Subheader";
	font-size: 20px;
	color: grey;
	margin: 0;
	padding: 0;
}

p{
	font-family: "Paragraph";
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 0;
}

ul{
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
}

hr{
	color: lightgray;
}

.main{
	width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.name{
    font-size: 30px;
}

.sidebar{
    padding-top: 5px;
    align-self: flex-start;
    text-align: end;
}